h1,
p {
  font-family: Lato;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 2px;
  color: black;
}
.form-group {
  margin: 10px;
}
input {
  width: 90%;
  padding: 5px;
  border-radius: 2px;
}
h4 {
  text-align: center;
}

button {
  width: 90%;
  margin-left: 8px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: crimson;
}
